body {
}

form {
    display: inline-block;
}

form.goto {
    margin-left: 30px;
}

.toolbar {
    padding: 10px 10px;
}

.scrollable {
    overflow: auto;
}

.list {
    position: absolute;
    top: 60px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border: thin solid #333;
    background-color: #fbfbfb;
}
.list .tile {
    border-bottom: thin solid lightgray;
    font-size: 16px;
    padding: 12px 24px;
    background-color: white;
}

.list .divider {
    padding: 6px 12px;
    border-bottom: thin solid lightgray;
    background-color: #f0f0f0;
}
